#!/bin/bash
# Taken from:
#	https://raw.github.com/kaihendry/Kai-s--HOME/master/.xinitrc
#
# for terminus font in Archlinux :(
xset +fp /usr/share/fonts/local
xset fp rehash

xset -b # disable bell
eval `/usr/bin/ssh-agent`

if test -f /usr/lib/ssh/x11-ssh-askpass # Debian
then
	SSH_ASKPASS=/usr/lib/ssh/x11-ssh-askpass ssh-add < /dev/null
fi

# 1280x720 = 720p X220
hash fswebcam && fswebcam -q --no-banner -r 1280x720 ~/private/login-photos/$(date +%Y-%m-%dT%H).jpg &

xrdb -merge $HOME/.Xresources
xmodmap ~/.Xmodmap
setxkbmap -layout fr -option ctrl:nocaps

hash xscreensaver && xscreensaver -no-splash &
hash iceweasel && iceweasel &
pulseaudio --start
xss-lock -- xscreensaver-command -lock &

# start notification manager
dunst -conf ~/.dunstrc &

while true
do
	VOL="vol: $(amixer get Master | tail -1 | sed 's/.*\[\([0-9]*%\)\].*/\1/')"
	LOCALTIME=$(date +%Y-%m-%d\ %H:%M)
	OTHERTIME=$(TZ=Europe/London date +%Z\=%H:%M)

        ONLINE="offline!"
        CONUUID=$( nmcli -f uuid con status | tail -n +2 )
	if [ "$CONUUID" != "" ]; then 
           IP="$(nmcli con status uuid $CONUUID | grep IP4.AD | awk '{print $4}' | cut -d\/ -f1)"
           ONLINE="online ($IP)"
	fi
	#IP=$(for i in `ip r`; do echo $i; done | grep -A 1 src | tail -n1) # can get confused if you use vmware
	TEMP="$(($(cat /sys/class/thermal/thermal_zone0/temp) / 1000)) C "

 	
        POWER_STATE=$(upower -i /org/freedesktop/UPower/devices/battery_BAT0 | grep state | tr -s \  | cut -d: -f2)
        POWER_PERCE=$(upower -i /org/freedesktop/UPower/devices/battery_BAT0 | grep percentage| tr -s \  | cut -d: -f2)


	BAT="Bat. $POWER_PERCE ($POWER_STATE)"
	xsetroot -name "$ONLINE | $BAT | $VOL | $TEMP | $LOCALTIME"
	sleep 20s
done &

exec dwm
